/*font css*/ 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
b,
strong {
  font-weight: 700;
}

/*main body css*/ 
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: Inter, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

body {
  padding-right: 2%;
  padding-left: 2%;
  min-height: 100%;
  background-color: #fff;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  }
}

footer,
section {
  display: block;
}

[hidden] {
  display: none;
}

/*links*/ 
a:active,
a:hover {
  outline: 0;
}

/*headings*/ 
h1 {
  font-size: 3rem;
  margin: 0.67em 0;
  line-height: 44px;
  margin-top: 20px;
  font-family: Inter, sans-serif;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-bottom: 10px;
}

h2 {
  font-size: 2.4rem;
  line-height: 36px;
  margin-top: 20px;
}

h3 {
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 5%;
  font-family: Inter, sans-serif;
}

h4 {
  font-size: 1.5rem;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 5%;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

h5 {
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
}
h6 {
  font-size:1.9rem;
  line-height: 18px;
  margin-top: 10px;
}

/*buttons*/ 
.button {
  font: inherit;
  margin: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898ec;
  color: #fff;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
  border: 0;
  }

.go-button {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 8em;
  margin-right: auto;
  margin-left: auto;
  float: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #3898ec;
  font-family: Inter, sans-serif;
  font-size: 1.2em;
  text-align: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.eng {
  float: right;
}


/*image*/ 
img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  }

/*clearfixes*/ 

.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
  }

.clearfix:after {
  clear: both;
}

/*text*/ 

p {
  margin-top: 0;
  margin-bottom: 10px;
}

.text-block {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1rem;
}

.paragraph {
  display: inline-block;
  float: left;
  clear: left;
  font-size: 16px;
  line-height: 2em;
  white-space: normal;
}

.bold-text {
  float: left;
  clear: left;
  font-family: Inter, sans-serif;
  font-size: 22px;
}

/*lists*/ 

ul {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}

/*containers. rows, and columns*/

.columns {
  display: block;
  float: left;
  -o-object-fit: fill;
  object-fit: fill;
}

.container.top-container {
  padding-top: 2%;
}

.container {
  width: auto;
  margin-left: auto;
  padding: 7% 2% 2%;
  margin-right: auto;
  -o-object-fit: fill;
  max-width: 940px;
  object-fit: fill;
}
.container:after,
.container:before {
  content: " ";
  display: table;
  }
.container:after {
  clear: both;
}
.container .row {
  margin-left: -10px;
  margin-right: -10px;
}
.row:after,
.row:before {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
.row:after {
  clear: both;
}
.row .row {
  margin-left: 0;
  margin-right: 0;
}
.col {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.col .col {
  padding-left: 0;
  padding-right: 0;
}
.col-1 {
  width: 8.33333333%;
}
.col-2 {
  width: 33%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333%;
  margin-bottom: 5%;
}
.col-5 {
  width: 41.66666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333333%;
}
.col-8 {
  width: 66.66666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 66%;
}
.col-11 {
  width: 91.66666667%;
}
.col-12 {
  width: 100%;
}

.column-2 {
  margin-right: auto;
  margin-left: auto;
  padding-top: 7%;
}



/*mobile and tablet view*/ 

@media screen and (max-width: 991px) {
  .container {
    max-width: 728px;
  }
  .col-stack {
    left: auto;
    right: auto;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .container .row,
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .col {
    width: 100%;
    left: auto;
    right: auto;
  }
}

@media screen and (max-width: 479px) {
  .container {
    max-width: none;
  }
  .col {
    width: 100%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 991px) {
  h4 {
    margin-top: 0;
    line-height: 2em;
  }
  .container {
    padding-top: 15%;
  }
  .h1 {
    font-size: 3rem;
  }
  .h2 {
    font-size: 2.3rem;
  }
  .work-period {
    display: inline-block;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    float: none;
    clear: none;
    font-size: 1em;
    text-align: left;
  }
  .h4 {
    margin-top: 0;
    font-size: 1.5rem;
  }
  .paragraph {
    display: inline-block;
    height: auto;
    float: none;
  }
  .bold-text {
    font-size: 20px;
  }
  .hard-skill, .soft-skill1, .language-skill {
    right: 0;
    bottom: 0;
    display: block;
    height: 12%;
    margin-right: 5px;
  }
 
   .education-info {
    height: auto;
    padding: 5%;
    text-align: center;
  }
  
  .institution-name {
    margin-right: auto;
    margin-left: auto;
    float: none;
    clear: none;
  }
  
  .go-button {
    margin-top: 10%;
  }
  
  .column {
    position: relative;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    clear: none;
    text-align: center;
    width: 100%;
  }
  
  .eng {
    margin-top: 5%;
  }
  
  .columns-3 {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .column-3 {
    margin-top: 0;
  }
  
  .h5 {
    font-family: Inter, sans-serif;
    font-size: 1.9rem;
    font-weight: 400;
  }
  
  .company-address {
    font-size: 1rem;
    line-height: 2em;
    font-style: normal;
    font-weight: 300;
    text-decoration: none;
  }
  .bold-text-3 {
    text-align: center;
  }
  .columns-4 {
    text-align: center;
  }
  .h10 {
    line-height: 2em;
  }
  .h11 {
    margin-top: 0;
  }
}
@media screen and (max-width: 767px) {
  .work-period {
    display: inline-block;
    margin-right: auto;
    text-align: center;
  }
  .paragraph {
    width: 100%;
    height: auto;
    float: none;
    clear: none;
    font-size: 1rem;
  }
  .bold-text {
    line-height: 2em;
  }
  .bold-text-2 {
    line-height: 2em;
  }
  
  .education-info {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .go-button {
    margin-top: 0;
  }
  .company-name {
    display: block;
  }
}
@media screen and (max-width: 479px) {
  .container {
    display: block;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    min-width: 31%;
    padding-top: 20%;
    padding-bottom: 10%;
    font-size: 1.9em;
    line-height: 2em;
    -o-object-fit: fill;
    object-fit: fill;
  }
  .h1 {
    font-size: 2.5rem;
    line-height: 1.2em;
  }
  .contact-link {
    font-size: 14px;
  }
  .contact-list {
    margin-top: 10%;
  }
  .text-block {
    font-size: 14px;
  }
  .text-block-2 {
    font-size: 14px;
  }
  .h2 {
    display: inline;
    font-size: 1.9rem;
    line-height: 2em;
  }
  .h3 {
    margin-bottom: 10%;
  }
  
  .work-period {
    display: inline-block;
    font-size: 1rem;
    text-align: left;
  }

  .company-1 {
    display: inline;
  }
  .paragraph {
    display: block;
    overflow: visible;
    width: 100%;
    height: auto;
    float: none;
    clear: none;
    font-size: 1rem;
    -o-object-fit: fill;
    object-fit: fill;
  }
  
  .hard-skill {
    position: relative;
    display: block;
    overflow: visible;
    width: auto;
    height: 7%;
    max-width: 100%;
    min-height: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    float: left;
    clear: none;
    font-size: 1rem;
    line-height: 1rem;
    text-decoration: none;
    white-space: pre-wrap;
    -o-object-fit: fill;
    object-fit: fill;
  }
  .soft-skill1 {
    display: block;
    height: 7%;
    margin-right: 5px;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 1rem;
    line-height: 1rem;
  }
  .language-skill {
    height: 7%;
    font-size: 1rem;
    line-height: 1rem;
  }
  
  .education-info {
    display: block;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .section {
    display: none;
    height: auto;
    max-height: none;
    float: left;
    clear: left;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-family: Inter, sans-serif;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .go-button {
    font-size: 1rem;
    line-height: 1em;
  }
  .eng {
    font-size: 0.8rem;
    line-height: 1em;
  }
  .footer {
    margin-bottom: 10%;
    padding-top: 20%;
    padding-bottom: 10%;
  }
  .column-3 {
    padding-left: 0;
  }
  
  .h12 {
    font-size: 1.7rem;
  }
  .column-4 {
    margin-bottom: 15%;
  }
  .h13 {
    font-size: 1.2rem;
  }
  .h14 {
    font-size: 1.2rem;
  }
  .h15 {
    font-size: 1.2rem;
  }
  .h16 {
    font-size: 1.2rem;
  }
  .h17 {
    font-size: 1.2rem;
  }
  .h18 {
    font-size: 1.2rem;
  }
  
  .footer-text {
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 300;
  }
}


/*contacts section*/ 

.contact-link {
  background-color: transparent;
  color: #3898ec;
  font-size: 1rem;
}

.contacts-container {
  position: relative;
  clear: left;
}

.contact-list {
  padding-left: 0;
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 2em;
  list-style-type: none;
}

.link-contact {
  margin-top: 5px;
  margin-bottom: 5px;
}

.contact-grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
 }

/*work experience section*/ 

#responsibilities {
  display: inline-block;
  float: left;
  clear: left;
  font-size: 16px;
  line-height: 2em;
  white-space: normal;
}


.work-period {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 5%;
  float: left;
  clear: left;
  font-family: Inter, sans-serif;
  font-size: 1.2em;
  line-height: 2em;
  font-weight: 400;
  }

.company-address {
  display: inline-block;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 1rem;
  line-height: 2em;
  font-style: italic;
  font-weight: 300;
  text-decoration: none;
}

.company-name {
  display: inline-block;
  margin-bottom: 5%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 1.3rem;
  font-weight: 400;
}

/*skills section*/ 

.hard-skill, .soft-skill1, .language-skill {
  position: relative;
  left: 0;
  top: 0;
  right: auto;
  bottom: auto;
  display: block;
  overflow: visible;
  width: auto;
  height: 50px;
  min-height: 35px;
  margin: 5px 10px 5px 5px;
  padding: 1%;
  float: left;
  clear: none;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-radius: 5px;
  font-family: Inter, sans-serif;
  font-size: 18px;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
  cursor: auto;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.hard-skill {background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#a0ddff),
    to(#a4b3ff)
  );
  background-image: linear-gradient(180deg, #a0ddff, #a4b3ff);}

.soft-skill1 { background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ffbfa0),
    color-stop(93%, #ffdfa0),
    to(#a4b3ff)
  );
  background-image: linear-gradient(180deg, #ffbfa0, #ffdfa0 93%, #a4b3ff);}

.language-skill {background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#5ab572),
    color-stop(93%, #7fcbc2),
    to(#a4b3ff)
  );
  background-image: linear-gradient(180deg, #5ab572, #7fcbc2 93%, #a4b3ff);}

.skills-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  position: static;
  display: inline;
  float: none;
  clear: none;
  font-family: Inter, sans-serif;
}

/*education section*/ 

.education-info {
  display: block;
  padding: 2%;
  border-radius: 5px;
  outline-color: #b2aeb1;
  outline-offset: 1px;
  outline-style: solid;
  outline-width: 1px;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

.institution-name {
  display: block;
  margin-top: 5%;
  margin-bottom: 5%;
  float: left;
  clear: left;
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 2em;
  font-weight: 600;
}
